/*
Error: Invalid CSS after "...s"s, sans-serif": expected "{", was ";"
        on line 4 of main.scss

1: ---
2: ---
3: 
4: $sans-serif-font-family: "Quattrocento Sans"s, sans-serif;
5: $serif-font-family:      "PT Serif", Georgia, "Times New Roman", serif;
6: $code-font-family:       "Source Code Pro", monospace;
7: 
8: $body-color:             #505050;
9: $link-color:             black;

Backtrace:
main.scss:4
/usr/share/gems/gems/sass-3.7.4/lib/sass/scss/parser.rb:1308:in `expected'
/usr/share/gems/gems/sass-3.7.4/lib/sass/scss/parser.rb:1238:in `expected'
/usr/share/gems/gems/sass-3.7.4/lib/sass/scss/parser.rb:1233:in `tok!'
/usr/share/gems/gems/sass-3.7.4/lib/sass/scss/parser.rb:688:in `block'
/usr/share/gems/gems/sass-3.7.4/lib/sass/scss/parser.rb:681:in `ruleset'
/usr/share/gems/gems/sass-3.7.4/lib/sass/scss/parser.rb:707:in `block_child'
/usr/share/gems/gems/sass-3.7.4/lib/sass/scss/parser.rb:697:in `block_contents'
/usr/share/gems/gems/sass-3.7.4/lib/sass/scss/parser.rb:137:in `stylesheet'
/usr/share/gems/gems/sass-3.7.4/lib/sass/scss/parser.rb:41:in `parse'
/usr/share/gems/gems/sass-3.7.4/lib/sass/engine.rb:414:in `_to_tree'
/usr/share/gems/gems/sass-3.7.4/lib/sass/engine.rb:389:in `_render_with_sourcemap'
/usr/share/gems/gems/sass-3.7.4/lib/sass/engine.rb:307:in `render_with_sourcemap'
/usr/share/gems/gems/sass-3.7.4/lib/sass/exec/sass_scss.rb:387:in `run'
/usr/share/gems/gems/sass-3.7.4/lib/sass/exec/sass_scss.rb:63:in `process_result'
/usr/share/gems/gems/sass-3.7.4/lib/sass/exec/base.rb:50:in `parse'
/usr/share/gems/gems/sass-3.7.4/lib/sass/exec/base.rb:18:in `parse!'
/usr/share/gems/gems/sass-3.7.4/bin/sass:13:in `<top (required)>'
/usr/bin/sass:23:in `load'
/usr/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"...s\"s, sans-serif\": expected \"{\", was \";\"\A         on line 4 of main.scss\A \A 1: ---\A 2: ---\A 3: \A 4: $sans-serif-font-family: \"Quattrocento Sans\"s, sans-serif;\A 5: $serif-font-family:      \"PT Serif\", Georgia, \"Times New Roman\", serif;\A 6: $code-font-family:       \"Source Code Pro\", monospace;\A 7: \A 8: $body-color:             #505050;\A 9: $link-color:             black;"; }
